body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  position: relative;
  min-height: calc(100vh);
}

.app-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width:480px){
  .app-wrapper{
    width: 90%;
  }
}